/* Equivalence closure relations */
/* (Reflexivity is assumed) */

/* Symmetry */
{wm}[
	Eq[<a>, <b>],
	!Eq[<b>, <a>],
] -> {wm}[
	Eq[<a>, <b>],
	Eq[<b>, <a>],
];

/* Transitivity */
{wm}[
	Eq[<a>, &[<b>, !<a>]],
	Eq[<b>, <c>],
	!Eq[<a>, <c>],
] -> {wm}[
	Eq[<a>, <b>],
	Eq[<b>, <c>],
	Eq[<a>, <c>],
];
